.ExamBody {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaderboard-container {
    border-radius: 12px;
    box-shadow: 0 0px 10px rgba(120, 120, 120, 50);
    width: 400px;
    padding: 20px;
    text-align: center;
}

.leaderboard-flex {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin: 0;
}
.player {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    transition: 0.3s;
    color: black;
}
.top-1 {
    background: gold;
    font-weight: bold;
}
.top-2 {
    background: silver;
    font-weight: bold;
}
.top-3 {
    background: #cd7f32;
    font-weight: bold;
}

#h1Id,
#h2Id,
#h3Id {
    font-family: 'Helvetica Neue';
    font-weight: 600;
    letter-spacing: 0.5px;
}

.btn,
.btn-dark,
.btn-check:focus+.btn-dark,
.btn-dark:focus,
.btn-check:focus+.btn,
.btn:focus {
    border: none;
    box-shadow: none;
}

.btn-dark:hover {
    background: #212529;
}

.bg-primary,
.btn-light {
    letter-spacing: 0.7px;
}
